/* Coolors Exported Palette - coolors.co/e6e8e6-a5c62d-db222a-144d5b-ff9e16 */

/* HSL */
$color1: hsla(120%, 4%, 91%, 1);
$color2: hsla(73%, 63%, 48%, 1);
$color3: hsla(357%, 73%, 50%, 1);
$color4: hsla(192%, 64%, 22%, 1);
$color5: hsla(35%, 100%, 54%, 1);

/* RGB */
$color1: rgba(230, 232, 230, 1);
$color2: rgba(165, 198, 45, 1);
$color3: rgba(219, 34, 42, 1);
$color4: rgba(20, 77, 91, 1);
$color5: rgba(255, 158, 22, 1);